body {
    margin: 0;
}

textarea {
    resize: none;
}

label {
    width: 18%;
    display: inline-block;
    font-weight: bold;
}

p:nth-child(5), p:nth-child(6){
    padding-left: 18%;
    font-weight: normal;
    width: 5%;
}

.male, .female {
    font-weight: normal;
   

}

.gender {
    font-weight: bold;
}

input {
    border-radius: 5px;
    width: 15%;
}

select {
    width: 15.5%;
    border-radius: 5px;
    border: 2px solid black;
}

.btn {
    color:crimson;
    font-weight: bold;
    background-color:cadetblue;
    width:10%;
    
}
